<!-- starter template from https://getbootstrap.com/docs/4.0/getting-started/introduction/#starter-template -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <!-- navigation bar -->
    <nav class="navbar navbar-inverse">
        <div id="navbarCollapse" class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-qrcode" aria-hidden="true"></i></button></li>
            </ul>
        
        </div>
        
    </nav>
    
    {% load static %}
    <!-- pop-up modal QR code -->
    <!-- TODO: not working yet:
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    -->
    <div id="myModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Scan this code to trnasfer your tracks to this computer:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
          </div>
                <div class="modal-body">
                    <canvas id="qr-code"></canvas>
                </div>
            </div>
        </div>
    </div>
    
    <!-- font awesome CDN -->
    <script src="https://use.fontawesome.com/2c119aafc8.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    
    <!-- QR code generator -->
    <script src="{% static "freerun/js/qrious.min.js" %}"></script>
    
    <script>
        // code from https://github.com/neocotic/qrious
        (function() {
            var qr = new QRious({
            element: document.getElementById('qr-code'),
            value: 'test'
            }); 
        })(); 
    </script>
  </body>
</html>
